<div class="footer-basic">
	<footer>
		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="{{ path('home') }}">Accueil</a>
			</li>
			{# <li class="list-inline-item">
				<a href="{{ path('presentation') }}">Presentation Jeux GN</a>
			</li> #}
			<li class="list-inline-item">
				<a href="{{ path('evenement') }}">Calendrier</a>
			</li>
			<li class="list-inline-item">
				<a href="{{ path('contact') }}">Contact</a>
			</li>
			<li class="list-inline-item">
				<a href="{{ path('mentions_legale') }}">Mentions Legales</a>
			</li>
		</ul>
		<div class="copyright">knight's meeting © 2021</div>
	</footer>
</div>
