{% extends 'base.html.twig' %}

{% block title %} detail de l'evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.prix }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ evenement.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ evenement.ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ evenement.codePostal }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ evenement.createdAt ? evenement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{{ evenement.files }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ evenement.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('create_event_index') }}">back to list</a>

    <a href="{{ path('create_event_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('create_event/_delete_form.html.twig') }}
{% endblock %}
